{% extends 'base.html' %}



{% block content %}

<div class="container-fluid justify-content-center">
    <div class ="row row justify-content-center shop-header p-5">
        <div class="col-3 ms-5 d-flex flex-column justify-content-center align-items-center">
            <h2>Welcome to The Shop!</h2>
            <h5>Your #1 Resource For All Things Cars</h5>
            <a hreb="#" class="btn btn-outline-dark mt-3">Add New Vehicle</a>
        </div>
    </div>
    <!-- <div class="row bg-dark p-3 shop-stats">
        <div class="col d-flex justify-content-center">Total # of Customers: 0</div>
        <div class="col d-flex justify-content-center">Total Sales: $0</div>
        <div class="col d-flex justify-content-center">Total # of Products: 0</div>
    </div> -->
</div>


{% endblock content %}