
.shop-header {
    background-image: url("https://i.insider.com/6320e8ea89d2b3001894eaeb?width=1000&format=jpeg&auto=webp");
    background-size: cover;
    height: 1000px;
    color: black;
}

/* .shop-stats {
    color: white; 
} */